/*:root {*/
/*  --font-size: min(3vh, 2vw);*/
/*  --icon-size: min(10vh, 6vw);*/
/*}*/

.allies-team {
  margin: 0 auto;
  padding: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.enemy-team {
  margin: 0 auto;
  padding: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
}

.pokemon-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.pokemon-card {
  background-color: #333333b8;
  border: 2px solid #555;
  border-radius: 8px;
  flex: 0 0 auto;
  display:flex;
  flex-direction: column;
}

.pokemon-icon img {
  width: 5em;
  height: 5em;
}

.pokemon-info {
  margin-top: 10px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.type-icon {
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -0.07em;
  border-radius: 50%;
  margin: 0 0.3em;
}

.pokemon-weaknesses,
.pokemon-resistances,
.pokemon-immunities {
  min-width: 2.5em;
  display: flex;
  min-height: 5em;
}

.pokemon-weaknesses {
  background-color: #6a1f1f;
  border: 2px solid red;
  border-radius: 10px;
}

.pokemon-resistances {
  background-color: #216a1f;
  border: 2px solid green;
  border-radius: 10px;
}

.pokemon-immunities {
  background-color: #484848;
  border: 2px solid white;
  border-radius: 10px;
}

.pokemon-weaknesses .type-icon,
.pokemon-resistances .type-icon,
.pokemon-immunities .type-icon {
  opacity: 1;
}

.text-base {
  display: flex;
  font-family: 'emerald';
  font-size: 1em;
  text-shadow: 0.1em 0 #fff, -0.1em 0 #fff, 0 0.1em #fff, 0 -0.1em #fff, 0.05em 0.05em #fff, -0.05em -0.05em #fff, 0.05em -0.05em #fff, -0.05em 0.05em #fff;
  color: black;
}

.arrow-button-wrapper {
  display: grid;
}
.arrow-button {
  font-size: 2.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 0.25em 0;
  font-size: 1em;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Slider settings */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 4em;
      -webkit-appearance: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 1vh;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 1vh;
      -webkit-appearance: none;
      height: 1vh;
      cursor: ew-resize;
      box-shadow: -8vh 0 0 8vh #b3462c;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #b3462c;
}
input[type="range"]::-moz-range-track {  
  background-color: #fff;
}
input[type="range"] {
  background-color:transparent
}

.slider-wrapper {
  display: flex;
}

.running-status {
  position: absolute;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: blue;
  background-color: #ffffff50;
}

.stat-p {
  display: flex;
  padding-right: 0.3em;
  padding-top: 0.3em;
}

.stat-c {
  position: relative;
  text-shadow: 0.1em 0 rgba(255, 255, 255, 0), -0.1em 0 rgba(255, 255, 255, 0), 0 0.1em rgba(255, 255, 255, 0), 0 -0.1em rgba(255, 255, 255, 0), 0.05em 0.05em rgba(255, 255, 255, 0), -0.05em -0.05em rgba(255, 255, 255, 0), 0.05em -0.05em rgba(255, 255, 255, 0), -0.05em 0.05em rgba(255, 255, 255, 0);
}

.stat-icon {
  position: absolute;
  top: -0.3em;
  right: -0.5em;
}