.allies-team {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  max-height: 165px;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.enemy-team {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
}

.pokemon-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.pokemon-card {
  background-color: #333333b8;
  border: 2px solid #555;
  border-radius: 8px;
  flex: 0 0 auto;
  display:flex;
  flex-direction: column;
}

.pokemon-icon img {
  width: 80px;
  height: 80px;
}

.pokemon-info {
  margin-top: 10px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.type-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -1.15px;
  border-radius: 50%;
  margin: 0 5px;
}

.pokemon-weaknesses,
.pokemon-resistances,
.pokemon-immunities {
  min-width: 45px;
  display: flex;
  min-height: 90px;
  justify-content: center;
}

.pokemon-weaknesses {
  background-color: #6a1f1f;
  border: 2px solid red;
  border-radius: 10px;
}

.pokemon-resistances {
  background-color: #216a1f;
  border: 2px solid green;
  border-radius: 10px;
}

.pokemon-immunities {
  background-color: #484848;
  border: 2px solid white;
  border-radius: 10px;
}

.pokemon-weaknesses .type-icon,
.pokemon-resistances .type-icon,
.pokemon-immunities .type-icon {
  opacity: 1;
}

.text-base {
  display: flex;
  font-family: 'emerald';
  font-size: 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}

.arrow-button-wrapper {
  display: grid;
}
.arrow-button {
  font-size: 50px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: 'emerald';
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Slider settings */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      box-shadow: -80px 0 0 80px #b3462c;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #b3462c;
}
input[type="range"]::-moz-range-track {  
  background-color: #fff;
}
input[type="range"] {
  background-color:transparent
}

.slider-wrapper {
  display: flex;
}